# dependencies
/node_modules

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.development
.env.production
.env*.local

# vercel
.vercel

# jetbrains and vscode
.idea/
.vscode/

# storybook
/storybook-static
/src/story

# typescript incremental features
/.tsBuildInfoFile/